* {
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    width: 12px;     /* Tamaño del scroll en vertical */
    height: 12px;    /* Tamaño del scroll en horizontal */
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
.FRUsuarios{
    width: 650px;
    margin: 50px auto
}
.FRUstitle{
    text-align: center;
    margin: 25px auto;
    font-size: 50px 
}
.header{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 1fr 1fr 0.5fr;
    align-items: center; 
}
#logo{
    width: 150px;
    height: 70px;
}
#userLogIn{
    width: 35px;
}
#userLogOut{
    width: 35px;
    margin-left: 8px;
  
}
#singleProd{
    margin: 7%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px;
}
#input{
    border-radius: 25px;
    width: 500px;
    height: 40px;
    padding-left: 20px;
}

#input::-webkit-input-placeholder{
    line-height: 100px;/* Centrado vertical */
}

#carrito{
    width: 45px;
}
.card{
    padding: 10px;
    margin-top: 20px;
}
.card-body{
    color: black;
}
.card:hover{
    box-shadow: 2px 2px 10px #666; 
}
.titleProduct{
    margin-top: 20px
}
.products{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px
}
.product{
    margin-top: 20px
}
.imgproduct{
    height: 350px;
    width: 300px;
    margin: 0 auto;
    object-fit: contain;
}
.userAsAdm{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black; 
    display: grid;
    grid-template-rows: 4fr 1fr 4fr;
    align-items: center;
    justify-items: center;  
    border-radius: 25px;
    border-color: rgba(51, 51, 51, 0.6);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75);
}
.botonesAdm{
margin-right: 10px;
}
.inputDelAdm{
    margin-left: 40px;
    width: 300px;
}
.labelDelAdm{
    margin-right: 30px;
}
.adminIcons{
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
  margin-top: 10px;
}

#navbar-light{
  text-align: center;
  background-color: #476694;
}
a{
    color: white;
}
a:hover{
  color: #b1ccf3;
  text-decoration: none;
}
.nav-link{
  text-align: center
}

.nav-link:hover{
    transform: scale(1.07)
}

#logOut {
    color: blue;
}


.formProdAm{
    padding: 7% 20%;
}

#marcas{
    width: 150px;
    margin-right: 0px;
}


.dropdowns{
    padding-top: 30px;
}
#imgProdCarr{
    height: 420px;
}

#puntuacion{
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

#star {
    width: 25px;
    height:25px;
}

#linkLogo{
    width: 150px;
}
#linkLogOut{
    width: 35px;
    margin-left: 26px;
}
#linkLogIn{
    width: 35px;
    margin-left: 49px; 
}
#linkCart{
    width: 45px;
    margin-left: 125px;
}
.caption{
    width: 35px;
    height: 15px;
    color: black;
    font-size: 12px;
    margin-left: 31px
}
.caption2{
    width: 35px;
    height: 15px;
    color: black;
    font-size: 12px;
  
}
.card{
    width: 18rem;
    width: 371px;

}
.inputDetail{
    background-color: transparent;
    border: 0px solid;
    color: black;
}
.card-header{
    background-color: #9cbff5
}
#fullnameInput{
    width: 151px;
}
#emailInput{
    width: 255px;
}
#addressInput{
    width: 151px;
}
#cpInput{
    width: 190px;
}
#localidadInput{
    width: 223px;
}
.w-100{
    margin-bottom: 15px
}

.carousel-caption{
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.3)
}

.registro-contenedor{
    width: 800px;
    padding: 15px;
    margin: 50px auto;
    border-radius: 25px;
    border-color: rgba(51, 51, 51, 0.6);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75);
}

.login-contenedor{
    width: 1000px;
    padding: 15px;
    margin: 50px auto;
    border-radius: 25px;
    border-color: rgba(51, 51, 51, 0.6);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75);
}

.botones{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    justify-items: center;
}

#visa{
    width: 10px;
    height: 10px;
}
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }

#master{
    width: 90px;
    height: 90px;
}

#american{
    width: 90px;
    height: 90px;
}

.pagos{
    display:grid;
    grid-template-rows: 1fr 1fr 0.5fr 0.8fr 1fr;
    /* align-items: center; */
    /* justify-items: center; */
    border: 2px solid black;
    height: 400px;
    width: 900px;
    margin-left:500px;
    margin-top:20px;
}

.imgCompra{
    display:grid;
    grid-template-columns: 1fr 1.2fr 0.2fr 1.5fr 1fr;
    font-size: 25px;
    border-bottom: 2px solid black;
    align-items: center;
    justify-items: center;
    width: 850px;
    margin-left: 25px;
    
}

.preciofinal{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 430px;
    align-items: center;
    justify-items: center;  
    color: #476694
}

.texto{
    font-size: 18px;
}

.tituloOC{
    font-size:20px;
    color:red;
}
.tituloST{
    font-size: 24px;
    color: red;
}

.inputOC{
width: 43px;
height: 33px;
margin-left:30px;    
}

.textoST{
    width: 50px;
    }
.textosOC{
    display:grid;
    grid-template-columns: 1fr 1fr 0.5fr 1.5fr 1fr;
    font-size: 25px; 
    margin-top: 20px; 
    align-items: center;
    justify-items: center;  
}

.OCimage{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}

.Detalle{
    margin-left: 265px;
    margin-bottom:8px;
    width: 400px;
    height: 8px;
}
.TitOC{
    margin-left: 235px;
    margin-bottom:8px;
}


.datosgrid{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 1fr;
    height: 0px;
}

#vencimiento{
    width: 185px;
}
#passwordHelpBlock{
    width: 261px
}
#dni{
    width: 300px;
}
#dorsoTarjeta{
    width: 50px;
}

.codigo{
    width: 150px;
}
.tarjeta{
    display: grid;
    grid-template-rows: 1fr 1.3fr 1.3fr 1fr 1fr 1fr 1fr;
    align-items: center;
    /* justify-items: center;  */
}
.datosTarjeta{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
}
#metodo{
    font-size: 30px
}
#datos{
    font-size: 20px
}
.numerodetarjeta{
    width: 820px;
    margin-left: 35px;
   
}
#dni{
    margin-left: 100px
}
.fecha{
    margin-left: 10px
}
.note{
margin-left: 160px;
}
.finCompra{
    width: 210px;
    height: 50px;
    border: 1px solid black;
    float: right;
    display: grid;
    margin: 10px 20% 0 60% ;
}

.navbarUser{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.titleListUsers{
    margin-top: 25px
}
#trashUser{
    width: 35px;
    float: right;
    position: relative;
    margin-right: 15px;
}

#trashUser:hover{
    transform: scale(1.2)
}
.listItem{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}
.listItem:hover{
    border: solid rgb(36, 36, 36) 1px
}
.containerTrash{
    float: right
}

.list-group{
    max-width: 1000px;
    margin: 0 auto
}
.titlesUsers{
    margin-right: 10px;
}

.imgCarritoList {
    width: 100px;
    object-fit: contain;
}

.carritoContainer {
	height: 400px;
	width: 800px;
	border: 1px solid #ddd;
	background: #f1f1f1;
    overflow-y: scroll;
    padding: 15px;
    margin: 0 auto;
}

.media{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 5px;
}

.contenedorCarrito{
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
}
#cantidadProd{
    width: 50px;
}
.inputCarrito{
    margin: 0 auto
}
.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 90px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 80px
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}