*{
  box-sizing: border-box;

}
.header{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 1fr 1fr 0.5fr;
    align-items: center; 

}
#logo{
    width: 150px;
    height: 70px;
}
#userLogIn{
    width: 35px;
    margin-left: 49px; 
}
#userLogOut{
    width: 35px;
    margin-left: 35px;
  
}
#input{
    border-radius: 25px;
    width: 500px;
    height: 40px;
  
}
#carrito{
    width: 45px;
     margin-left: 125px;

}
